*{
    margin: 0;
    padding:0;
}
.button,
.button-number,
.button-equal,
.button-AC{
    height:100px;
    width:100px;
    font-size:100px;
    border-radius: 50%;
    border: none;
}
.calculator{
    height:450px;
    width:600px;
    display: table;
    background-color: grey;
}
.n1-2-3,
.n4-5-6,
.n7-8-9{
  width: 308px;
    height:100px;
}
.actions{
    display: table-cell;
    
}


#score,
#score1{
     display:block;
    height:70px;
    width:100%;
    font-size:50px;
}

